@import url("reset.css");
/****** General ***********/
:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
    font-weight: 700;
}

.show-more-title {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 13px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Header ***********/
header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.header-content {
    display: flex;
    flex-direction: row;
}

.logo {
    width: 61px;
    height: 19px;
    margin-top: 30px;
}

.buttons {
    display: flex;
    flex-direction: row;
    width: 344px;
    justify-content: space-around;
}

.buttons a {
    border-top: 2px solid #fff;
    padding-top: 20px;
}

.buttons a:hover{
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

.buttons a:active {
    border-top: 2px solid #0065FC;
}

/****** Info group ***********/
.info-group {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 22px;
    margin-top: 35px;
}

.info-group-subtitle {
    font-weight: normal;
    font-size: 16px;
    margin-top: 10px;
}

form {
    display: flex;
    border-radius: 15px;
    margin-top: 35px;
    height: 49px;
    font-size: 18px;
    align-items: center;
}
  
.location {
    display: flex;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #F2F2F2;
    color: #000;
    width: 49px;
    height: 49px;
    align-items: center;
    justify-content: center;
}

.location i {
    color: #000;
}

.search {
    display: flex;
    background-color: #fff;
    color: #000;
    outline: 0;
    border: 1px solid #F2F2F2;
    height: 45px;
    font-size: 18px;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}

.search::placeholder{
    color: #000;
}

.submit {
    display: flex;
    border: 0;
    outline: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #0065FC;
    color: #fff;
    width: 132px;
    height: 49px;
    font-size: 18px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

.search-button {
    color: #fff;
}

button.submit {
    display: none;
}

.filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
}

.filters-buttons {
    display: flex;
    flex-direction: row;
    font-size: 17px;
    width: 100%;
    font-weight: 700;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 35px;
}

.filters-buttons a {
    display: flex;
    flex-direction: row;
    border: 2px solid #d9d9d9;
    align-items: center;
    border-radius: 25px;
    height: 50px;
    margin-left: 19px;
}

.filters-buttons a:hover{
    background-color: #DEEBFF;
}

.filters-buttons i {
    margin: 15px;
}

.eco {
    width: 173px;
}

.family {
    width: 134px;
}

.romance {
    width: 170px;
}

.gem {
    width: 167px;
}

.info {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    height: 24px;
    align-items: center;
    margin-bottom: 35px;
}

.info i {
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    padding: 5px 10px;
    margin-right: 15px;
    font-size: 12px;
}

/****** Hebergements And Populaires ***********/
#hebergements {
    display: flex;
    justify-content: space-between;
}

#hebergements section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
}

.hebergements-cards {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    justify-content: space-between;
}

.hebergements-row {
    display: flex;
    flex-direction: row;
    margin-top: 33px;
    justify-content: space-between;
}

.hebergements-row a {
    flex-basis: 100%;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    margin-top: 33px;
    margin: 10px;
}

.hebergements-cards img {
    width:100%;
    height: 136px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    width: 100%;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
    font-weight: 700;
}

.hebergements-cards .card-subtitle {
    margin: 0;
    font-size: 12px;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
    font-weight: 700;
}

.populaires-cards .card-subtitle {
    margin: 0;
    font-size: 12px;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/
.activities {
    display: flex;
    flex-direction: column;
    padding: 30px;
    padding-top: 55px;
}

.activities p {
    font-weight: 700;
    display: flex;
    flex-direction: row;
    font-size: 22px;
    margin-top: 55px;
    margin-bottom: 30px;
    padding: 20px;
}

.activities-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 30px;
}

.activities a {
    display: flex;
    flex-direction: row;
    margin: 10px;
    width: 25%;
    justify-content: space-evenly;
}
.activities a:first-child {
    margin-left: 0;
}
.activities a:last-child {
    margin-right: 0;
}


.activities .card {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 0;
    height: 439px;
}

.activities img {
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activities .card-title {
    padding: 20px 15px;
    font-weight: 700;
    font-size: 12px;
}

/****** Footer ***********/
.footer {
    background-color: #F2F2F2;
    margin-top: 55px;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.about {
    padding: 30px;
    width: 446px;
}

.about-title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 20px;
}

.about-subtitle {
    font-size: 16px;
    margin-bottom: 20px;
}

.housing {
    padding: 30px;
    width: 446px;
}
    
.housing-title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 20px;
}
    
.housing-subtitle {
    font-size: 16px;
    margin-bottom: 20px;
}

.help {
    padding: 30px;
    width: 446px;
}
        
.help-title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 20px;
}
        
.help-subtitle {
    font-size: 16px;
    margin-bottom: 20px;
 }

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .filters {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-top: 35px;
    }

    .filters h2 {
        margin-bottom: 20px;
    }

    .filters-buttons {
        margin-top: 0;
    }

    .filters-buttons a {
        margin-left: 0;
        font-size: 16px;
    }

    .eco {
        margin-right: 15px;
    }

    .family {
        margin-right: 15px;
    }

    .romance {
        margin-right: 15px;
    }
    
    #hebergements {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 12px;
    }

    .activities {
        display: flex;
    }

    .activities .card {
        height: 270px;
    }

    .activities img {
        height: 200px;
    }

    .activities {
        padding-bottom: 30px;
    }

    .footer {
        margin-top: 30px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.99px) and (min-width: 320px) {
    .main-container {
        padding: 0;
    }

    main {
        line-height: 25px;
    }

    main section {
        padding: 15px;
    }

    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }  

    .header-content {
        justify-content: center;
        margin-bottom: 10px;
    }
    
    .buttons {
        justify-content: space-around;
        border-bottom: 2px solid #F2F2F2;
    }
        
    .buttons a {
        padding-bottom: 15px;
        flex-basis: 100%;
        text-align: center;
    }

    .buttons a:hover {
        border-bottom: 2px solid #0065FC;
        border-top: none;
    }

    .info-group {
        margin-top: 0;
    }

    .filters {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        height: auto;
    }

    .filters-buttons {
        display: flex;
        flex-wrap: wrap;
    }

    .filters-buttons a {
        font-size: 14px;
        width: 150px;
    }

    .eco {
        margin-right: 22px;
        margin-bottom: 15px;
    }

    .family {
        margin-bottom: 15px;
    }

    .romance {
        margin-right: 22px;
    }

    form {
        width: 100%;
    }

    .search {
        border-right: none;
        width: 200px;
    }

    button.submit {
        display: block;
        border-radius: 15px;
        box-shadow: 0px 5px 2px #d9d9d9;
        height: 49px;
        width: 49px;
        position: absolute;
        left: 255px;
    }

    input.submit {
        display: none;
    }

    .info i {
        margin-right: 10px;
    }

    .card-title {
        font-size: 16px;
    }

    #hebergements {
        flex-direction: column-reverse;
        margin-top: 0;
    }

    #hebergements section {
        border-radius: 0;
        padding: 15px;
    }

    #hebergements section.populaires {
        margin-top: 0;
        padding-top: 35px;
        padding-bottom: 35px;
    }

    #hebergements section.hebergements {
        background-color: #fff;
        padding-top: 35px;
    }

    .populaires-cards {
        flex-direction: column;
    }

    .populaires-cards .card-subtitle {
        font-size: 14px;
    }

    .populaires-cards a {
        width: 100%;
        padding-top: 0px;
    }

    .hebergements-cards {
        flex-direction: column;
    }

    .hebergements-row {
        flex-direction: column;
        margin-top: 15px;
    }

    .hebergements-cards .card-subtitle {
        font-size: 14px;
    }

    .hebergements-cards a {
        width: 100%;
    }

    .activities-cards {
        flex-direction: column;
    }

    .activities-cards a {
        width: 100%;
    }

    .activities .card {
        flex-basis: 100%;
    }

    .activities .card-title {
        font-size: 16px;
    }

    .activities a {
        margin: 10px 0;
    }

    .footer {
        flex-direction: column;
    }
}